extends game_include

block content
  canvas#bg
  canvas#unit
  canvas#ui
  canvas#tooltip
  canvas#minimap
  canvas#menu
  canvas#left_menu
  canvas#right_menu
  script(type='text/javascript').
    console.log(!{JSON.stringify(user)}, !{JSON.stringify(map)}, !{JSON.stringify(difficulty_level)});
    Game.getInstance(!{JSON.stringify(user)}, !{JSON.stringify(map)}, parseInt(!{JSON.stringify(difficulty_level)}));