extends index_include
block content
  canvas#bg
  canvas#unit
  canvas#ui
  canvas#tooltip
  canvas#minimap
  script(type='text/javascript').
    console.log(!{JSON.stringify(user)}, !{JSON.stringify(units)}, !{JSON.stringify(map)});
    Game.getInstance(!{JSON.stringify(user)}, !{JSON.stringify(units)}, !{JSON.stringify(map)});